-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: if0_39600889_obvitnas_db
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin-gi`
--

DROP TABLE IF EXISTS `admin-gi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin-gi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `username` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `gi_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin-gi`
--

LOCK TABLES `admin-gi` WRITE;
/*!40000 ALTER TABLE `admin-gi` DISABLE KEYS */;
INSERT INTO `admin-gi` VALUES (1,NULL,'Admin GI 1','Admingi1@gmail.com','$2y$10$/6yrc0HY5NL0.6HGn8SNUu5FVnGqIONt6SBeaaXcaOKyb/MNjLQdi',1,'2025-07-17 21:21:32'),(3,NULL,'Admin GI 4 ','Admingi4@gmail.com','$2y$10$8DCg6Yyl1b2ZFMbZ84oT7u7Z4rJ3ohdzKkjoHDTl1ijVJuchuCW4u',4,'2025-07-20 18:39:41');
/*!40000 ALTER TABLE `admin-gi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_k3l`
--

DROP TABLE IF EXISTS `admin_k3l`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_k3l` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `username` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_k3l`
--

LOCK TABLES `admin_k3l` WRITE;
/*!40000 ALTER TABLE `admin_k3l` DISABLE KEYS */;
INSERT INTO `admin_k3l` VALUES (1,'Admin K3L','Admink3l1','Admink3l1@gmail.com','$2y$10$DYZ7bZY3Cn6x6eYSNlNyRemqX3Z22zxLGCTx0eVsN9hoOcXiwH3Vu','2025-07-17 08:46:15');
/*!40000 ALTER TABLE `admin_k3l` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_satpam`
--

DROP TABLE IF EXISTS `jadwal_satpam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_satpam` (
  `id` int NOT NULL AUTO_INCREMENT,
  `satpam_id` int DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `jam_mulai` time DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  `keterangan` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `satpam_id` (`satpam_id`),
  CONSTRAINT `jadwal_satpam_ibfk_1` FOREIGN KEY (`satpam_id`) REFERENCES `satpam` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_satpam`
--

LOCK TABLES `jadwal_satpam` WRITE;
/*!40000 ALTER TABLE `jadwal_satpam` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_satpam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kunjungan`
--

DROP TABLE IF EXISTS `kunjungan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kunjungan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `gi_id` int DEFAULT '1',
  `no_kendaraan` varchar(100) DEFAULT NULL,
  `keperluan` varchar(100) DEFAULT NULL,
  `undangan` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `warna_kartu_visitor` varchar(50) DEFAULT NULL,
  `nomor_kartu_visitor` varchar(50) DEFAULT NULL,
  `jam_masuk` datetime DEFAULT NULL,
  `jam_keluar` datetime DEFAULT NULL,
  `nama_satpam_checkin` varchar(100) DEFAULT NULL,
  `satpam_id_checkin` int DEFAULT NULL,
  `nama_satpam_checkout` varchar(100) DEFAULT NULL,
  `satpam_id_checkout` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `face_match_score` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_kunjungan_satpam_checkin` (`satpam_id_checkin`),
  KEY `idx_kunjungan_satpam_checkout` (`satpam_id_checkout`),
  KEY `idx_kunjungan_gi_status` (`gi_id`,`status`)
) ENGINE=MyISAM AUTO_INCREMENT=26 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kunjungan`
--

LOCK TABLES `kunjungan` WRITE;
/*!40000 ALTER TABLE `kunjungan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kunjungan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `class` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `group` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `namespace` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `time` int NOT NULL,
  `batch` int unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2025-09-16-031428','App\\Database\\Migrations\\AddFaceVerificationColumns','default','App',1757992471,1),(2,'2025-09-16-031430','App\\Database\\Migrations\\CreateFaceVerificationLogs','default','App',1757992471,1);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satpam`
--

DROP TABLE IF EXISTS `satpam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `satpam` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `no_hp` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_general_ci,
  `status` enum('aktif','nonaktif') COLLATE utf8mb4_general_ci DEFAULT 'aktif',
  `gi_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`email`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satpam`
--

LOCK TABLES `satpam` WRITE;
/*!40000 ALTER TABLE `satpam` DISABLE KEYS */;
/*!40000 ALTER TABLE `satpam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satpam_absensi`
--

DROP TABLE IF EXISTS `satpam_absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `satpam_absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `satpam_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `jam_masuk` timestamp NULL DEFAULT NULL,
  `jam_keluar` timestamp NULL DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` enum('masuk','keluar','tidak_hadir') COLLATE utf8mb4_unicode_ci DEFAULT 'masuk',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_satpam_date` (`satpam_id`,`tanggal`),
  KEY `idx_tanggal` (`tanggal`),
  KEY `idx_satpam_tanggal` (`satpam_id`,`tanggal`),
  KEY `idx_satpam_absensi_date` (`tanggal`,`satpam_id`),
  CONSTRAINT `satpam_absensi_ibfk_1` FOREIGN KEY (`satpam_id`) REFERENCES `satpam` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satpam_absensi`
--

LOCK TABLES `satpam_absensi` WRITE;
/*!40000 ALTER TABLE `satpam_absensi` DISABLE KEYS */;
INSERT INTO `satpam_absensi` VALUES (1,5,'2025-09-12','2025-09-12 01:22:44',NULL,'Auto absen saat login','masuk','2025-09-12 01:22:44','2025-09-12 01:22:44'),(2,5,'2025-09-15','2025-09-14 20:09:50',NULL,'Auto absen saat login','masuk','2025-09-14 20:09:50','2025-09-14 20:09:50'),(3,5,'2025-09-16','2025-09-15 20:27:22',NULL,'Auto absen saat login','masuk','2025-09-15 20:27:22','2025-09-15 20:27:22');
/*!40000 ALTER TABLE `satpam_absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satpam_shifts`
--

DROP TABLE IF EXISTS `satpam_shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `satpam_shifts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `satpam_id` int NOT NULL,
  `tanggal_shift` date NOT NULL,
  `shift_start` time NOT NULL,
  `shift_end` time NOT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_satpam_date` (`satpam_id`,`tanggal_shift`),
  KEY `idx_tanggal_shift` (`tanggal_shift`),
  KEY `idx_satpam_tanggal` (`satpam_id`,`tanggal_shift`),
  KEY `idx_satpam_shifts_date_time` (`tanggal_shift`,`shift_start`,`shift_end`),
  CONSTRAINT `satpam_shifts_ibfk_1` FOREIGN KEY (`satpam_id`) REFERENCES `satpam` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satpam_shifts`
--

LOCK TABLES `satpam_shifts` WRITE;
/*!40000 ALTER TABLE `satpam_shifts` DISABLE KEYS */;
INSERT INTO `satpam_shifts` VALUES (19,5,'2025-09-12','08:00:00','16:00:00','Shift Pagi','2025-09-12 08:00:47','2025-09-12 08:00:47'),(22,5,'2025-09-13','08:00:00','16:00:00','Shift Pagi','2025-09-12 08:00:47','2025-09-12 08:00:47');
/*!40000 ALTER TABLE `satpam_shifts` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_shift_schedule` BEFORE INSERT ON `satpam_shifts` FOR EACH ROW BEGIN

    DECLARE conflict_count INT DEFAULT 0;

    

    -- Cek konflik waktu shift dengan satpam lain pada tanggal yang sama

    SELECT COUNT(*) INTO conflict_count

    FROM satpam_shifts 

    WHERE tanggal_shift = NEW.tanggal_shift

    AND satpam_id != NEW.satpam_id

    AND (

        (NEW.shift_start < shift_end AND NEW.shift_end > shift_start)

        OR (shift_start < NEW.shift_end AND shift_end > NEW.shift_start)

    );

    

    IF conflict_count > 0 THEN

        SIGNAL SQLSTATE '45000' 

        SET MESSAGE_TEXT = 'Konflik jadwal shift dengan satpam lain pada waktu yang sama';

    END IF;

    

    -- Validasi shift_end harus setelah shift_start (kecuali shift malam)

    IF NEW.shift_start >= NEW.shift_end AND NEW.shift_start < '22:00:00' THEN

        SIGNAL SQLSTATE '45000' 

        SET MESSAGE_TEXT = 'Waktu selesai shift harus setelah waktu mulai';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `asal_unit` varchar(50) NOT NULL,
  `asal_unit_lain` varchar(100) DEFAULT NULL,
  `alamat` text NOT NULL,
  `no_hp` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `foto_identitas` varchar(255) DEFAULT NULL,
  `foto_selfie` varchar(255) DEFAULT NULL,
  `no_kendaraan` varchar(100) DEFAULT NULL,
  `keperluan` varchar(100) DEFAULT NULL,
  `detail_keperluan` text,
  `file_undangan` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_kunjungan_detail`
--

DROP TABLE IF EXISTS `view_kunjungan_detail`;
/*!50001 DROP VIEW IF EXISTS `view_kunjungan_detail`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_kunjungan_detail` AS SELECT 
 1 AS `id`,
 1 AS `user_id`,
 1 AS `gi_id`,
 1 AS `nama_tamu`,
 1 AS `no_hp`,
 1 AS `no_kendaraan`,
 1 AS `keperluan`,
 1 AS `status`,
 1 AS `jam_masuk`,
 1 AS `jam_keluar`,
 1 AS `nama_satpam_checkin`,
 1 AS `detail_satpam_checkin`,
 1 AS `nama_satpam_checkout`,
 1 AS `detail_satpam_checkout`,
 1 AS `warna_kartu_visitor`,
 1 AS `nomor_kartu_visitor`,
 1 AS `created_at`,
 1 AS `updated_at`,
 1 AS `durasi_kunjungan`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_satpam_shift_monitoring`
--

DROP TABLE IF EXISTS `view_satpam_shift_monitoring`;
/*!50001 DROP VIEW IF EXISTS `view_satpam_shift_monitoring`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_satpam_shift_monitoring` AS SELECT 
 1 AS `satpam_id`,
 1 AS `nama_satpam`,
 1 AS `email`,
 1 AS `no_hp`,
 1 AS `gi_id`,
 1 AS `shift_id`,
 1 AS `tanggal_shift`,
 1 AS `shift_start`,
 1 AS `shift_end`,
 1 AS `keterangan_shift`,
 1 AS `absensi_id`,
 1 AS `jam_masuk`,
 1 AS `jam_keluar`,
 1 AS `keterangan_absensi`,
 1 AS `status_absensi`,
 1 AS `status_kehadiran`,
 1 AS `status_shift_saat_ini`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `zona_gi`
--

DROP TABLE IF EXISTS `zona_gi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zona_gi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_gi` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `ultg_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ultg_id` (`ultg_id`),
  CONSTRAINT `zona_gi_ibfk_1` FOREIGN KEY (`ultg_id`) REFERENCES `zona_ultg` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zona_gi`
--

LOCK TABLES `zona_gi` WRITE;
/*!40000 ALTER TABLE `zona_gi` DISABLE KEYS */;
/*!40000 ALTER TABLE `zona_gi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zona_ultg`
--

DROP TABLE IF EXISTS `zona_ultg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zona_ultg` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_ultg` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `upt_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `upt_id` (`upt_id`),
  CONSTRAINT `zona_ultg_ibfk_1` FOREIGN KEY (`upt_id`) REFERENCES `zona_upt` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zona_ultg`
--

LOCK TABLES `zona_ultg` WRITE;
/*!40000 ALTER TABLE `zona_ultg` DISABLE KEYS */;
INSERT INTO `zona_ultg` VALUES (1,'BANDUNG BARAT',1),(2,'BANDUNG SELATAN',1),(3,'BANDUNG TIMUR',1),(4,'SALATIGA',2),(5,'YOGYAKARTA',2),(6,'SURAKARTA',2),(7,'SEMARANG',3),(8,'REMBANG',3),(9,'KUDUS',3);
/*!40000 ALTER TABLE `zona_ultg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zona_upt`
--

DROP TABLE IF EXISTS `zona_upt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zona_upt` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_upt` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zona_upt`
--

LOCK TABLES `zona_upt` WRITE;
/*!40000 ALTER TABLE `zona_upt` DISABLE KEYS */;
INSERT INTO `zona_upt` VALUES (1,'BANDUNG'),(2,'SALATIGA'),(3,'SEMARANG'),(4,'BANDUNG'),(5,'SALATIGA'),(6,'SEMARANG');
/*!40000 ALTER TABLE `zona_upt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `view_kunjungan_detail`
--

/*!50001 DROP VIEW IF EXISTS `view_kunjungan_detail`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_kunjungan_detail` AS select `k`.`id` AS `id`,`k`.`user_id` AS `user_id`,`k`.`gi_id` AS `gi_id`,`u`.`nama` AS `nama_tamu`,`u`.`no_hp` AS `no_hp`,`u`.`no_kendaraan` AS `no_kendaraan`,`u`.`keperluan` AS `keperluan`,`k`.`status` AS `status`,`k`.`jam_masuk` AS `jam_masuk`,`k`.`jam_keluar` AS `jam_keluar`,`k`.`nama_satpam_checkin` AS `nama_satpam_checkin`,`s1`.`nama` AS `detail_satpam_checkin`,`k`.`nama_satpam_checkout` AS `nama_satpam_checkout`,`s2`.`nama` AS `detail_satpam_checkout`,`k`.`warna_kartu_visitor` AS `warna_kartu_visitor`,`k`.`nomor_kartu_visitor` AS `nomor_kartu_visitor`,`k`.`created_at` AS `created_at`,`k`.`updated_at` AS `updated_at`,(case when ((`k`.`jam_masuk` is not null) and (`k`.`jam_keluar` is not null)) then timediff(`k`.`jam_keluar`,`k`.`jam_masuk`) else NULL end) AS `durasi_kunjungan` from (((`kunjungan` `k` left join `users` `u` on((`u`.`id` = `k`.`user_id`))) left join `satpam` `s1` on((`s1`.`id` = `k`.`satpam_id_checkin`))) left join `satpam` `s2` on((`s2`.`id` = `k`.`satpam_id_checkout`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_satpam_shift_monitoring`
--

/*!50001 DROP VIEW IF EXISTS `view_satpam_shift_monitoring`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_satpam_shift_monitoring` AS select `s`.`id` AS `satpam_id`,`s`.`nama` AS `nama_satpam`,`s`.`email` AS `email`,`s`.`no_hp` AS `no_hp`,`s`.`gi_id` AS `gi_id`,`ss`.`id` AS `shift_id`,`ss`.`tanggal_shift` AS `tanggal_shift`,`ss`.`shift_start` AS `shift_start`,`ss`.`shift_end` AS `shift_end`,`ss`.`keterangan` AS `keterangan_shift`,`sa`.`id` AS `absensi_id`,`sa`.`jam_masuk` AS `jam_masuk`,`sa`.`jam_keluar` AS `jam_keluar`,`sa`.`keterangan` AS `keterangan_absensi`,`sa`.`status` AS `status_absensi`,(case when (`sa`.`jam_masuk` is null) then 'Belum Absen' when (`sa`.`jam_keluar` is null) then 'Sedang Bertugas' else 'Selesai Tugas' end) AS `status_kehadiran`,(case when ((`ss`.`tanggal_shift` = curdate()) and (curtime() between `ss`.`shift_start` and `ss`.`shift_end`)) then 'Sedang Bertugas' when ((`ss`.`tanggal_shift` = curdate()) and (curtime() > `ss`.`shift_end`)) then 'Shift Selesai' when ((`ss`.`tanggal_shift` = curdate()) and (curtime() < `ss`.`shift_start`)) then 'Belum Mulai' else 'Tidak Bertugas Hari Ini' end) AS `status_shift_saat_ini` from ((`satpam` `s` left join `satpam_shifts` `ss` on(((`s`.`id` = `ss`.`satpam_id`) and (`ss`.`tanggal_shift` = curdate())))) left join `satpam_absensi` `sa` on(((`s`.`id` = `sa`.`satpam_id`) and (`sa`.`tanggal` = curdate())))) where (`s`.`status` = 'aktif') order by `ss`.`shift_start` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-17 18:52:00
